@import "./reset.css";

* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
}

.outerBlock {
  width: 100%;
  color: white;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header {
  width: 100%;
  height: 380px;
  background-color: black;
  background-image: url("./../images/main-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  padding: 50px 20px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

header > div {
  margin: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

#button {
  width: 100px;
  background-color: #333;
  color: white;
  margin: 0.5em 0;
  border: 1px solid #666;
  padding: 1em 2em;
  text-decoration: none;
}

main {
  /* color: black; 
  УМЕНЬШИТЬ РАЗМЕР ШРИФТА ВО ВСЕХ РАЗДЕЛАХ MAIN!
  */
}

.section1,
.section2,
.section3 {
  color: initial;
}

.section1 {
  margin: 20px;
}

#storyAcme {
  column-count: 2;
  padding: 1em;
}

.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */

  background-color: #333;
  padding: 2em 1em 1em;
}

.article {
  margin: 1em;
  background-color: white;
}

.picture {
  width: 100%;
  height: 162px;
  object-position: top;
}
