@import "./reset.css";

body {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.outerBlock {
  width: 100%;
  color: white;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header,
.section1,
#section2,
.section3 {
  padding: 0 360px;
}

h1,
h2,
h3 {
  font-weight: bold;
  padding-top: 20px;
}

p {
  font-size: 14px;
}

header {
  width: 100%;
  height: 380px;
  background-color: black;
  background-image: url("./../images/main-fon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header > h1 {
  font-size: 2em;
}

#header > p {
  padding: 30px 0;
}

.button {
  width: 100px;
  background-color: #333;
  color: white;
  border: 1px solid #666;
  padding: 10px 20px;
  text-decoration: none;
}

main > section {
  color: black;
}

.section1 #storyAcme {
  column-count: 2;
  padding: 20px 0;
}

.section1,
#section3,
.section4 h2 {
  font-size: 1.5em;
}
.section2 h3 {
  font-size: 1.2em;
  padding: 10px 0;
}

#section2 {
  display: flex;
  justify-content: center;

  background-color: #333;
}

#section2 > div {
  width: 0.33;
  margin: 20px 10px 10px;
  padding: 0 0 30px;
  background-color: white;
}

#section2 p {
  padding: 17px 0;
}

.picture {
  width: 272px;
  height: 181px;
  object-position: top;
}

.content {
  padding: 26px;
}

#section2 > .div1 .section3,
.section4 h2,
h3 {
  padding: 30px 0 30px;
}

.section4 {
  display: flex;
}

.contactUs {
  width: 50%;
  background: #2690d4;
}

.aboutCompany {
  width: 50%;
  background-color: #333;
}

.section4 div {
  padding: 32px;
}

.section3,
.section4 p {
  padding: 17px 0;
}

.section3 p {
  padding: 17px 0;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.acmeFooter,
.projectedBy {
  padding: 30px 0 30px;
}

.projectedBy {
  display: flex;
}
.projectedBy > p {
  padding-right: 10px;
}
